.main {
  /* border: 2px solid black; */
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
  position: relative;
  perspective: 1000px;
}
.box-1 {
  /* position: absolute; */
  height: 150px;
  width: 150px;
  background-color: red;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transform-origin: bottom right;
}
.box-2 {
  /* position: absolute; */
  height: 150px;
  width: 150px;
  background-color: blue;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transform-origin: top; /*TOp theke rotate hobe orgian top hobe by default center theke rotate hoi*/
}

.box-1:hover {
  /* transform: translateX(150px); */
  /* transform: translateY(100px) */
}

.box-1:hover {
  /* transform: translateY(200px); */
  /* transform: scale(0.5); */
  /* transform: rotate(180deg); */
  transform: translateZ(100px);
  /* transalateZ dile parent div k perspective dite hobe...  */
}

.box-2:hover {
  /* transform: rotate(45deg); */
  /* transform-origin: ; */
  transform: skew(45deg);
}

.btn {
  border: 2px solid tomato;
  color: gray;
  padding: 10px 20px;
  background-color: white;
  background: transparent;
  transition-duration: 500ms;
  transition-timing-function: ease;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  background: tomato;
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(100px); */
  /* transform: scaleX(0); */
  transform: scaleY(0);
  transition: all 500ms ease;
  z-index: -1;
}
.btn:hover {
  /* transform: scale(1.05); */
  color: white;
}

.btn:hover:after {
  /* transform: translate(0); */
  /* transform: scaleX(1); */
  transform: scaleY(1);
  background-color: tomato;
}
